/////////////////Colors
$color-dark-blue: #2d314d;
$color-lime-green: #31d35c;
$color-bright-cyan: #2bb7da;
$color-grayish-blue: #9698a6;
$color-light-grayish-blue: #f3f4f6;
$color-very-light-gray: #fafafa;
$color-white: #fff;
//////////////Font
$display-font:'Public Sans',
sans-serif;